body{
  font-size: 400%;
  background-color:  hsl(0, 0%, 10%);
}

#display {
  width: 360px;
  margin-bottom: 17.5px;
  text-align: right;
  padding: 0 10px 0 0;
  font-size: larger;
  color: white;
  padding-right: 10px;
  overflow-wrap: anywhere;
  height: fit-content;
}

#symbol {
  display: none;
}

#calculator {
  border-radius: 50px;
  padding: 35px;
  width: fit-content;
  margin: auto;
  height: 80%;
}

button {
  margin-bottom: 10.5px;
  padding: 0%;
  width: 80.5px;
  height: 84px;
  padding: 0;
  border-radius: 40.25px;
  font-size: xx-large;
  border-width: 0px;
}

.o-btn{
  background-color: orange;
  color: white;
  font-size: xx-large;
  transition: background-color 0.1s ease-in;
}

.o-btn:active{
  background-color: white;
}

.double-width {
  width: 175.7px;
}

.g-btn{
  background-color: rgb(190, 190, 190);
  color: black;
}

.n-btn{
  background-color: rgb(48, 48, 48);
  color: white;
}

.n-btn:active{
  background: white;
  color: black;
}

.symbolActive{
  background: white;
  color: black;
}